<!-- FOOTER START // used for all pages, excepting index page -->

<div class="container">
    <hr>
    <footer>
        <p>&copy; bouQuet 2017</p>
    </footer>
</div>

<!-- FOOTER END // used for all pages, excepting index page -->