<!-- RESUME FORM CONTENT START // used for both create-resume and edit resume pages -->

<div class="row">
    <div class="col-md-3 mb-3">
        <label>First name <span class="red">*</span></label>
        <input type="text" name="firstName" class="form-control" id="firstName" placeholder="/letters & space/">
    </div>
    <div class="col-md-3 mb-3">
        <label>Last name <span class="red">*</span></label>
        <input type="text" name="lastName" class="form-control" id="lastName" placeholder="/letters & space/">
    </div>
</div>
<div class="row">
    <div class="col-md-3 mb-3">
        <label>Gender <span class="red">*</span></label>
        <select name="gender" id="gender" class="form-control custom-select">
            <option value="0" selected>Please select</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>
    <div class="col-md-3 mb-3">
        <label>Date of Birth <span class="red">*</span></label>
        <input type="text" name="birth" class="form-control" id="birth" placeholder="0000-00-00">
    </div>
</div>
<div class="row">
    <div class="col-md-3 mb-3">
        <label>Nationality <span class="red">*</span></label>
        <input type="text" name="country" class="form-control" id="country" placeholder="/letters & space/">
    </div>
    <div class="col-md-3 mb-3">
        <label>State</label>
        <input type="text" name="state" class="form-control" id="state" placeholder="/letters & space/">
    </div>
    <div class="col-md-3 mb-3">
        <label>City</label>
        <input type="text" name="city" class="form-control" id="city" placeholder="/letters & space/">
    </div>
    <div class="col-md-3 mb-3">
        <label>Suburb</label>
        <input type="text" name="suburb" class="form-control" id="suburb" placeholder="/letters & space/">
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        <label>Address 1</label>
        <input type="text" name="addr1" class="form-control" id="addr1" placeholder="/letters, numbers & space/">
    </div>
    <div class="col-md-6 mb-3">
        <label>Address 2</label>
        <input type="text" name="addr2" class="form-control" id="addr2" placeholder="/letters, numbers & space/">
    </div>
</div>
<div class="row">
    <div class="col-md-3 mb-3">
        <label>Email Address</label>
        <input type="text" name="email" class="form-control" id="email" placeholder="yourname@mail.com">
    </div>
    <div class="col-md-3 mb-3">
        <label>Phone Number</label>
        <input type="text" name="phoneNumber" class="form-control" id="phoneNumber" placeholder="/numbers/">
    </div>
</div>
<br>
<hr>
<h4>Desired job</h4>
<br>
<div class="row">
    <div class="col-md-6 mb-3">
        <label>Desired Position</label>
        <input type="text" name="desiredPosition" class="form-control" id="desiredPosition" placeholder="/letters & space/">
    </div>
</div>

<div class="row">
    <div class="col-md-2 mb-3">
        <label>Desired Salary</label>
        <input type="text" name="desiredSalary" class="form-control" id="desiredSalary" placeholder="/numbers/">
    </div>
</div>

<br>
<hr>
<h4>Work places</h4>
<br>
<div class="row">
    <div class="col-md-2 mb-3">
        <label>Start of work</label>
        <input type="text" name="startWork" class="form-control" id="startWork" placeholder="/numbers/">
    </div>
</div>
<div class="row">
    <div class="col-md-2 mb-3">
        <label>End of work</label>
        <input type="text" name="endWork" class="form-control" id="endWork" placeholder="/numbers/">
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        <label>Organization</label>
        <input type="text" name="workPlace" class="form-control" id="workPlace" placeholder="/letters & space/">
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        <label>Position</label>
        <input type="text" name="workPosition" class="form-control" id="workPosition" placeholder="/letters & space/">
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        <label>Responsibilities, tasks, achievements</label>
        <textarea type="text" name="workAchievement" class="form-control" id="workAchievement" placeholder="/unlimited/"></textarea>
    </div>
</div>
<br>
<hr>
<h4>Education</h4>
<br>
<div class="row">
    <div class="col-md-6 mb-3">
        <label>Name of educational institution</label>
        <input type="text" name="eduInstitution" class="form-control" id="eduInstitution" placeholder="/letters & space/">
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        <label>Department</label>
        <input type="text" name="eduDepartment" class="form-control" id="eduDepartment" placeholder="/letters & space/">
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-3">
        <label>Specialization</label>
        <input type="text" name="eduSpecialization" class="form-control" id="eduSpecialization" placeholder="/letters & space/">
    </div>
</div>
<div class="row">
    <div class="col-md-2 mb-3">
        <label>Year of graduation</label>
        <input type="text" name="eduGraduation" class="form-control" id="eduGraduation" placeholder="/numbers/">
    </div>
</div>

<!-- RESUME FORM CONTENT END // used for both create-resume and edit resume pages -->