/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.m-focus{
	padding: 15rem 2rem;
	background: url("/images/pexels-photo_mod.jpg");
	border-radius: 0;
	color: #fff;
}
.m-index-body{
	padding-top: 0;
}
.m-nav{
	background: transparent; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0,0,0,0.25), transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,0.25), transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,0.25), transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0,0.25), transparent); /* Standard syntax */
}
.dropdown-item{
	color: #212529 !important;
}
.m-nav a{
	color: #fff;
}
.navbar-brand{
	font-size: 20px;
}
.m-sign-in{
	padding: 12rem 2rem;
	/*position: fixed;*/
	/*width: 100%;*/
	/*height: 100%;*/
	background: url("/images/pexels-photo-69040.png");
	border-radius: 0;
	/*background-position: 50%;*/
}
.m-sign-in-middle{
	/*background: rgba(0,0,0,0.1);*/
}
.m-register{
	padding: 12rem 2rem;
	background: url("/images/pexels-photo-69040.png");
	border-radius: 0;
}

.form-signin {
  max-width: 430px;
  padding: 30px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid grey;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: 10px;
  /*margin-bottom: -1px;*/
  /*border-bottom-right-radius: 0;*/
  /*border-bottom-left-radius: 0;*/
}
.form-signin input[type="password"] {
  margin-bottom: 15px;
  /*border-top-left-radius: 0;*/
  /*border-top-right-radius: 0;*/
}


.form-register {
  max-width: 430px;
  padding: 30px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid grey;
}
.form-register .form-register-heading,
.form-register .checkbox {
  margin-bottom: 10px;
}
.form-register .checkbox {
  font-weight: normal;
}
.form-register .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-register .form-control:focus {
  z-index: 2;
}
.form-register input[type="text"]{
    margin-bottom: 10px;
}

.form-register input[type="email"] {
    margin-bottom: 10px;
  /*margin-bottom: -1px;*/
  /*border-bottom-right-radius: 0;*/
  /*border-bottom-left-radius: 0;*/
}
.form-register input[type="password"] {
    margin-bottom: 15px;
  /*border-top-left-radius: 0;*/
  /*border-top-right-radius: 0;*/
}

.form-resume-heading{
  margin-bottom: 10px;
}

.m-viewresume-container p{
	font-weight: bold;
}