<!DOCTYPE html>
<html lang="en">


<%- include partial/head.ejs %>

<body>

<%- include partial/nav.ejs %>

<div class="jumbotron">
    <div class="container">
        <form class="container" id="resume" action="" method="post">
            <h2 class="form-resume-heading">Create your resume</h2>
            <hr>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label>First name</label>
                    <input type="text" name="firstName" class="form-control" id="firstName" placeholder="First name" value="Mark" required>
                </div>
                <div class="col-md-3 mb-3">
                    <label>Last name</label>
                    <input type="text" name="lastName" class="form-control" id="lastName" placeholder="Last name" value="Otto" required>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label>Gender</label>
                    <select name="gender" id="gender" class="form-control custom-select">
                        <option selected>Please select</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <div class="invalid-feedback">
                        Please provide a valid gender.
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label>Date of Birth</label>
                    <input type="text" name="birth" class="form-control" id="birth" placeholder="DD/MM/YYYY" required>
                    <div class="invalid-feedback">
                        Please provide a valid date of birth.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label>Nationality</label>
                    <input type="text" name="country" class="form-control" id="country" placeholder="Australia" required>
                    <div class="invalid-feedback">
                        Please provide a valid nationality.
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label>State</label>
                    <input type="text" name="state" class="form-control" id="state" placeholder="New Sales Wales" required>
                    <div class="invalid-feedback">
                        Please provide a valid state.
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label>City</label>
                    <input type="text" name="city" class="form-control" id="city" placeholder="Sydney" required>
                    <div class="invalid-feedback">
                        Please provide a valid city.
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label>Suburb</label>
                    <input type="text" name="suburb" class="form-control" id="suburb" placeholder="Haymarket" required>
                    <div class="invalid-feedback">
                        Please provide a valid suburb.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Address 1</label>
                    <input type="text" name="addr1" class="form-control" id="addr1" placeholder="" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Address 2</label>
                    <input type="text" name="addr2" class="form-control" id="addr2" placeholder="" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label>Email Address</label>
                    <input type="text" name="email" class="form-control" id="email" placeholder="" required>
                    <div class="invalid-feedback">
                        Please provide a valid email address.
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label>Phone Number</label>
                    <input type="text" name="phoneNumber" class="form-control" id="phoneNumber" placeholder="" required>
                    <div class="invalid-feedback">
                        Please provide a valid phone number.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <span>/*More information will be required in further version.*/</span>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-12 mb-3">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="haveWorkExperience" id="haveWorkExperience" value="option1" checked>
                            I have work experience
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="haveWorkExperience" id="haventWorkExperience" value="option2">
                            I have no work experience
                        </label>
                    </div>

                </div>
            </div>

            <br>
            <hr>
            <h4>Desired job</h4>
            <br>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Desired Position</label>
                    <input type="text" name="desiredPosition" class="form-control" id="desiredPosition" placeholder="">
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 mb-3">
                    <label>Desired Salary</label>
                    <input type="text" name="desiredSalary" class="form-control" id="desiredSalary" placeholder="">
                </div>
            </div>

            <br>
            <hr>
            <h4>Work places</h4>
            <br>
            <div class="row">
                <div class="col-md-2 mb-3">
                    <label>Start of work</label>
                    <input type="text" name="startWork" class="form-control" id="startWork" placeholder="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 mb-3">
                    <label>End of work</label>
                    <input type="text" name="endWork" class="form-control" id="endWork" placeholder="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Organization</label>
                    <input type="text" name="workPlace" class="form-control" id="workPlace" placeholder="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Position</label>
                    <input type="text" name="workPosition" class="form-control" id="workPosition" placeholder="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Responsibilities, tasks, achievements</label>
                    <textarea type="text" name="workAchievement" class="form-control" id="workAchievement" placeholder=""></textarea>
                </div>
            </div>


            <br>
            <hr>
            <h4>Education</h4>
            <br>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Name of educational institution</label>
                    <input type="text" name="eduInstitution" class="form-control" id="eduInstitution" placeholder="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Department</label>
                    <input type="text" name="eduDepartment" class="form-control" id="eduDepartment" placeholder="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Specialization</label>
                    <input type="text" name="eduSpecialization" class="form-control" id="eduSpecialization" placeholder="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 mb-3">
                    <label>Year of graduation</label>
                    <input type="text" name="eduGraduation" class="form-control" id="eduGraduation" placeholder="">
                </div>
            </div>


            <hr>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>

        <!--<script>-->
             <!--//Disabling form submissions if there are invalid fields-->
             <!--(function() {-->
                 <!--"use strict";-->
                 <!--window.addEventListener("load", function() {-->
                     <!--var form = document.getElementById("needs-validation");-->
                     <!--form.addEventListener("submit", function(event) {-->
                         <!--if (form.checkValidity() == false) {-->
                             <!--event.preventDefault();-->
                             <!--event.stopPropagation();-->
                         <!--}-->
                         <!--form.classList.add("was-validated");-->
                     <!--}, false);-->
                 <!--}, false);-->
             <!--}());-->
        <!--</script>-->
    </div>
</div>

<%- include partial/footer.ejs %>

<%- include partial/shared-js.ejs %>

<script>
    $(document).ready(function() {
        //check current user login status
        var token = localStorage.getItem('token');
        $.ajax({
            type: 'POST',
            data: token,
            url: '/api/login',
//            success: function (data) {
//                localStorage.setItem('token',data.token);
//                window.location = "/sign-in-success";
//            },
//            error: function (data) {
//                alert("Tokens invalid.");
//            }
        });

        $('form').submit(function(e) {
            e.preventDefault();
            $.ajax({
                url: '/api/resumes',
                type: 'POST',
                beforeSend : function(xhr) {
                    // set JWT header
                    if ($window.sessionStorage.token) {
                        xhr.setRequestHeader("Authorization", "Bearer " + localStorage.getItem('token'));
                    }
                },
                data: {
                    firstName: $('#firstName').val(),
                    lastName: $('#lastName').val(),
                    gender: $('#gender').val(),
                    birth: $('#birth').val(),
                    country: $('#country').val()
                },

//                data: $("#resume").serialize(),

                success: function (data) {
                    window.location = "/create-resume-success";
                },
                error: function (data) {
                    alert("Create resume failed.");
                }
            });
        });
    });
</script>


</body>
</html>