<!DOCTYPE html>
<html lang="en">


<%- include partial/head.ejs %>

<body>

<%- include partial/nav.ejs %>

<div class="jumbotron">
    <div class="container">
        <form class="container" id="resume">
            <h2 class="form-resume-heading">Create your resume</h2>
            <i>Asterisk (<span class="red">*</span>) indicates the compulsory field.</i>
            <hr>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label>First name <span class="red">*</span></label>
                    <input type="text" name="firstName" class="form-control" id="firstName" placeholder="Ming">
                </div>
                <div class="col-md-3 mb-3">
                    <label>Last name <span class="red">*</span></label>
                    <input type="text" name="lastName" class="form-control" id="lastName" placeholder="Zhao">
                </div>

            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label>Gender <span class="red">*</span></label>
                    <select name="gender" id="gender" class="form-control custom-select">
                        <option value="0" selected>Please select</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label>Date of Birth <span class="red">*</span></label>
                    <input type="text" name="birth" class="form-control" id="birth" placeholder="1992-12-21">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label>Nationality <span class="red">*</span></label>
                    <input type="text" name="country" class="form-control" id="country" placeholder="Australia">
                </div>
                <div class="col-md-3 mb-3">
                    <label>State</label>
                    <input type="text" name="state" class="form-control" id="state" placeholder="New Sales Wales">
                </div>
                <div class="col-md-3 mb-3">
                    <label>City</label>
                    <input type="text" name="city" class="form-control" id="city" placeholder="Sydney">
                </div>
                <div class="col-md-3 mb-3">
                    <label>Suburb</label>
                    <input type="text" name="suburb" class="form-control" id="suburb" placeholder="Haymarket">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Address 1</label>
                    <input type="text" name="addr1" class="form-control" id="addr1" placeholder="Unit 1000">
                </div>
                <div class="col-md-6 mb-3">
                    <label>Address 2</label>
                    <input type="text" name="addr2" class="form-control" id="addr2" placeholder="123 Broadway">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label>Email Address</label>
                    <input type="text" name="email" class="form-control" id="email" placeholder="yourname@mail.com">
                </div>
                <div class="col-md-3 mb-3">
                    <label>Phone Number</label>
                    <input type="text" name="phoneNumber" class="form-control" id="phoneNumber" placeholder="012345678">
                </div>
            </div>

            <br>
            <hr>
            <h4>Desired job</h4>
            <br>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Desired Position</label>
                    <input type="text" name="desiredPosition" class="form-control" id="desiredPosition" placeholder="Software Engineer">
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 mb-3">
                    <label>Desired Salary</label>
                    <input type="text" name="desiredSalary" class="form-control" id="desiredSalary" placeholder="100000">
                </div>
            </div>

            <br>
            <hr>
            <h4>Work places</h4>
            <br>
            <div class="row">
                <div class="col-md-2 mb-3">
                    <label>Start of work</label>
                    <input type="text" name="startWork" class="form-control" id="startWork" placeholder="2000">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 mb-3">
                    <label>End of work</label>
                    <input type="text" name="endWork" class="form-control" id="endWork" placeholder="2010">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Organization</label>
                    <input type="text" name="workPlace" class="form-control" id="workPlace" placeholder="UTS">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Position</label>
                    <input type="text" name="workPosition" class="form-control" id="workPosition" placeholder="Research Assistant">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Responsibilities, tasks, achievements</label>
                    <textarea type="text" name="workAchievement" class="form-control" id="workAchievement" placeholder="Coding, etc."></textarea>
                </div>
            </div>


            <br>
            <hr>
            <h4>Education</h4>
            <br>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Name of educational institution</label>
                    <input type="text" name="eduInstitution" class="form-control" id="eduInstitution" placeholder="UTS">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Department</label>
                    <input type="text" name="eduDepartment" class="form-control" id="eduDepartment" placeholder="Faculty of IT and Engineering">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Specialization</label>
                    <input type="text" name="eduSpecialization" class="form-control" id="eduSpecialization" placeholder="B Sc.">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 mb-3">
                    <label>Year of graduation</label>
                    <input type="text" name="eduGraduation" class="form-control" id="eduGraduation" placeholder="2000">
                </div>
            </div>


            <hr>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
</div>

<%- include partial/footer.ejs %>

<%- include partial/shared-js.ejs %>

<script>
    'use strict';
    $(document).ready(function() {
        window.setTimeout(function(){
            var token = localStorage.getItem('token');
            if(token === null){
                window.location = "/error/0";
            }
        }, 1000);

        $('form').submit(function(e) {
            e.preventDefault();
            //validate the compulsory fields are not empty and valid
            if (validator.isAlpha($('#firstName').val()) && validator.isAlpha($('#lastName').val()) && validator.isAlpha($('#gender').val()) && validator.isBefore($('#birth').val()) && validator.isAlpha($('#country').val())){
                $.ajax({
                    type: 'POST',
                    beforeSend : function(xhr) {
                        // set JWT header

                        xhr.setRequestHeader("Authorization", "Bearer " + localStorage.getItem('token'));

                    },
                    data: {
                        firstName: $('#firstName').val(),
                        lastName: $('#lastName').val(),
                        gender: $('#gender').val(),
                        birth: $('#birth').val(),
                        country: $('#country').val(),
                        state: $('#state').val(),
                        city: $('#city').val(),
                        suburb: $('#suburb').val(),
                        addr1: $('#addr1').val(),
                        addr2: $('#addr2').val(),
                        email: $('#email').val(),
                        phoneNumber: $('#phoneNumber').val(),
                        desiredPosition: $('#desiredPosition').val(),
                        desiredSalary: $('#desiredSalary').val(),
                        startWork: $('#startWork').val(),
                        endWork: $('#endWork').val(),
                        workPlace: $('#workPlace').val(),
                        workPosition: $('#workPosition').val(),
                        workAchievement: $('#workAchievement').val(),
                        eduInstitution: $('#eduInstitution').val(),
                        eduDepartment: $('#eduDepartment').val(),
                        eduSpecialization: $('#eduSpecialization').val(),
                        eduGraduation: $('#eduGraduation').val()
                    },

                    url: '/api/resumes',
                    success: function (data) {
                        window.location = "/success/2";
                    },
                    error: function (data) {
                        window.location = "/error/6";
                    }
                });
            }else{
                    alert("error");
            }
        });
    });
</script>

</body>
</html>