<!DOCTYPE html>
<html lang="en">

<%- include partial/head.ejs %>

<body>

<%- include partial/nav.ejs %>

<div class="jumbotron m-sign-in">
    <div class="container m-sign-in-middle">
        <form action="/forgot" method="POST">
            <legend>Forgot Password</legend>
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" name="email" autofocus class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Reset Password">
            </div>
        </form>
    </div>
</div>

<!--testing API endpoint -->

<%- include partial/footer.ejs %>

</body>
</html>