<!DOCTYPE html>
<html lang="en">

<%- include partial/head.ejs %>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<body class="m-index-body">

<%- include partial/index-nav.ejs %>

<div class="m-focus jumbotron text-center">
    <div class="container">
        <h1 class="display-3">Find your dream job</h1>
        <p>blah blah blah.</p>
        <p><a class="btn btn-primary btn-lg" href="/create-resume" role="button">Create resume &raquo;</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a class="twitter-timeline" data-height="350" href="https://twitter.com/ritsuka21">Tweets by ritsuka21</a>
        </div>
        <div class="col-md-4">
            <a class="twitter-timeline" data-height="350" href="https://twitter.com/ritsuka331">Tweets by ritsuka331</a>
        </div>
        <div class="col-md-4">
            <a class="twitter-timeline" data-height="350" href="https://twitter.com/iximaxima">Tweets by iximaxima</a>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; bouQuet 2017</p>
    </footer>
</div>

<%- include partial/shared-js.ejs %>

</body>
</html>