<!DOCTYPE html>
<html lang="en">

<%- include partial/head.ejs %>

<body>

<%- include partial/nav.ejs %>

<div class="jumbotron m-register">
    <div class="container m-register-middle">
        <form class="form-register">
            <h2 class="form-register-heading">Thank you</h2>
            <span>Your changes has been saved. </span>
            <hr>
            <i>Redirecting in 5 seconds...</i>
        </form>

    </div>
</div>

<%- include partial/footer.ejs %>

<%- include partial/shared-js.ejs %>

<script>
    'use strict';
    $(document).ready(function() {
        window.setTimeout(function(){
            window.location.href = "/";
        }, 5000);
    });
</script>

</body>
</html>