<%- include partial/head.ejs %>

<body>

<%- include partial/nav.ejs %>


<div class="jumbotron m-sign-in">
    <div class="container m-sign-in-middle">
        <form class="form-signin" action="" method="post">
            <h2 class="form-signin-heading">Sign in</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <hr>
            <span><a href="register">Register</a> a new account.</span>
        </form>

    </div>
</div>

<!--testing API endpoint -->

<button id="button1">Test API login</button>


<%- include partial/footer.ejs %>

<%- include partial/shared-js.ejs %>

<script type="text/javascript">
    $(document).ready(function() {
        $('#button1').click(function(e) {
//            e.preventDefault();
            $.ajax({
                type: 'POST',
                data: {
                    email: $('#inputEmail').val(),
                    password: $('#inputPassword').val()
                },
                url: 'http://localhost:3000/api/login',
                success: function (result) {
                    alert("success");
                },
                error: function (result) {
                    alert("error");
                }
            });
        });
    });

</script>