<!DOCTYPE html>
<html lang="en">

<%- include partial/head.ejs %>

<body>

<%- include partial/nav.ejs %>


<div class="jumbotron m-sign-in">
    <div class="container m-sign-in-middle">
        <form class="form-signin" action="" method="post">
            <h2 class="form-signin-heading">Sign in</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <hr>
            <span><a href="register">Register</a> a new account.</span>
        </form>

    </div>
</div>

<!--testing API endpoint -->

<%- include partial/footer.ejs %>

<%- include partial/shared-js.ejs %>

<script>
    'use strict';
    $(document).ready(function() {
        window.setTimeout(function(){
            var token = localStorage.getItem('token');
            if(token != null){
                window.location = "/error/2";
            }
        }, 1000);

        $('form').submit(function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                data: {
                    email: $('#inputEmail').val(),
                    password: $('#inputPassword').val()
                },
                url: '/api/login',
                success: function (data) {
                    localStorage.setItem('token',data.token);
                    window.location = "/success/0";
                },
                error: function (data) {
                    window.location = "/error/3";
                }
            });
        });
    });
</script>

</body>
</html>