<!DOCTYPE html>
<html lang="en">

<%- include partial/head.ejs %>

<body>

<%- include partial/nav.ejs %>

<div class="jumbotron m-viewresume-container">
    <div class="container">
        <h2 class="form-resume-heading">View the resume</h2>
        <hr>
        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="validationCustom01">First name</label>
                <p>Ming</p>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationCustom02">Last name</label>
                <p>Zhao</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="validationCustom11">Gender</label>
                <p>Male</p>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationCustom12">Date of Birth</label>
                <p>21/12/1992</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="validationCustom03">Nationality</label>
                <p>China</p>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationCustom04">State</label>
                <p>Beijing</p>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationCustom05">City</label>
                <p>Beijing</p>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationCustom06">Suburb</label>
                <p>Xicheng</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="validationCustom07">Address 1</label>
                <p>123-456</p>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom08">Address 2</label>
                <p>234-567</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="validationCustom09">Email Address</label>
                <p>porea@live.com</p>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationCustom10">Phone Number</label>
                <p>0402049468</p>
            </div>
            <div class="col-md-6 mb-3">
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Edit</button>
    </div>
</div>

<%- include partial/footer.ejs %>

<%- include partial/shared-js.ejs %>

<script>
    $(document).ready(function() {
        var resumeId = "59e16225b368b738b52470ed";
        $.ajax({
            url: "http://localhost:3000/api/resumes/" + resumeId,
            type: 'GET',
            beforeSend : function(xhr) {
                // set JWT header
                if ($window.sessionStorage.token) {
                    xhr.setRequestHeader("Authorization", "Bearer " + localStorage.getItem('token'));
                }
            },
            success: function (data) {
                localStorage.setItem('token',data.token);
                window.location = "/sign-in-success";
            },
            error: function (data) {
                alert("Username or password incorrect.");
            }
    });
</script>

</body>
</html>